@media (min-width: 1200px) {
    .community-images {
        text-align: center;
    }

    .col-lg-3 {
        float: none;
        display: inline-block;
        text-align: left;
    / / reset the text alignement to left
    }
}