.navbar-fixed-top {
    background-color: rgba(0, 0, 0, 93) !important;
}

.navbar ul.nav.navbar-nav li.active a, .navbar ul.nav.navbar-nav li a {
    padding-top: 25px !important;
}

.divider {
    height: 1px;
    width: 100%;
    display: block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
}

#home {
    padding: 70px 0px 50px 0px !important;
}

#team {
    padding-top: 40px !important;
}

.member_curriculo {
    border: 0px solid hsl(0, 0%, 80%);
    padding: 0px 5px 0px 5px;
    text-align: center;
}

.dropdown .dropdown-toggle::after {
    content: "" !important;
    font-family: none !important;
}

.custom-form {
    display: inline-flex;
}

.custom-form button, a {
    margin-right: 4px;
}

.blog_image img {
    height: 350px !important;
}

.second_color {
    color: #f6b20e !important;
}

.section_heading h2::after {
    content: "" !important;
    font-family: none !important;
}

.social-media {
    background-color: #000711 !important;
    padding: 0px !important;
    margin-top: -50px;
}

.social-media li {
    margin: 0px !important;
    font-size: larger !important;
    height: 12px !important;
    width: 12px !important;
    line-height: 5px !important;
    padding: 10px 50px 10px 0px !important;
    background: none !important;
}

.social-media li a:hover {
    color: #f6b20e !important;
    border-radius: 0px !important;
    background: none !important;
}

#login-student {
    width: auto !important;
    border-radius: 1%;
    padding: 2px;
}

#login-student a {
    color: #f9ac0e !important;
    border: none !important;
    font-family: "Open Sans", sans-serif !important;
}

#login-student a:hover {
    color: white !important;
}

/*Contact*/
.subscribe {
    margin-top: -40px !important;
}

.icon-box {
    width: 70px !important;
    text-align: center !important;
}

.member_curriculo p {
    text-align: justify !important;
}

/* Navbar */
@media screen and (max-width: 481px) {
    .logo_img {
        margin-top: 7px;
        height: 50px;
    }

    .logo_img img {
        max-width: 300% !important;
        height: 100% !important;
    }

    #menu_slide {
        float: right;
        margin-top: 15px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1000px) {
    .logo_img {
        height: 75px;
    }

    .logo_img img {
        max-width: 300% !important;
        height: 100% !important;
    }

    #menu_slide {
        float: right;
        margin-top: 15px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .navbar ul.nav.navbar-nav li {
        padding: 0 0px;
    }
}

@media (min-width: 1000px) {
    .navbar-fixed-top.fixnav * {
        height: 70px;
    }

    /* Logo */
    .logo_img {
        margin-top: 5px;
    }

    a {
        color: #f9ac0e;
    }

    #post_view h2 {
        margin-bottom: 15px;
    }

    a:hover {
        color: #f9cb16;
    }

    .logo_img img {
        max-width: 300% !important;
        height: 75% !important;
    }
}

@media screen and (min-width: 991px) and (max-width: 1000px) {
    .navbar-fixed-top.fixnav * {
        height: 70px;
    }

    /* Logo */
    .logo_img {
        margin-top: 5px;
    }

    a {
        color: #f9ac0e;
    }

    #post_view h2 {
        margin-bottom: 15px;
    }

    a:hover {
        color: #f9cb16;
    }

    .logo_img img {
        max-width: 300% !important;
        height: 65% !important;
    }
}

.section_heading.section_heading_2 h2 {
    margin-bottom: 5px !important;
}

.section_heading.section_heading_2 h6 {
    margin-bottom: 45px !important;
    color: #f6b20e;
}

#custom-section {
    padding-top: 0px !important;
}

.navbar ul.nav.navbar-nav li.active a#custom {
    padding-bottom: 0px !important;
}

/* Backgrounds */
section.price_table_bg {
    background: url(../custom_img/bgd_black.jpg) repeat scroll 0 0 !important;
}

section.testimonial_bg {
    background: url(../custom_img/bgd_black.jpg) repeat scroll 0 0 !important;
}

section.contact_bg {
    background: url(../custom_img/bgd_black.jpg) repeat scroll 0 0 !important;
}

/*
Helpers
*/
.thumb {
    width: auto;
}

.thumb.xsmaller {
    height: 16px;
}

.thumb.smaller {
    height: 32px;
}

.thumb.small {
    height: 64px;
}

.thumb.xsmall {
    height: 96px;
}

.thumb.medium {
    height: 128px;
}

.thumb.xsmedium {
    height: 146px;
}

.thumb.xmedium {
    height: 192px;
}

.thumb.large {
    height: 256px;
}

.thumb.xlarge {
    height: 384px;
}

.thumb.biggest {
    height: 512px;
}

.image {
    width: auto;
}

.image.xsmaller {
    height: 16px;
}

.image.smaller {
    height: 32px;
}

.image.small {
    height: 64px;
}

.image.xsmall {
    height: 96px;
}

.image.medium {
    height: 128px;
}

.image.xsmedium {
    height: 146px;
}

.image.xmedium {
    height: 192px;
}

.image.large {
    height: 256px;
}

.image.xlarge {
    height: 384px;
}

.image.biggest {
    height: 512px;
}

/*
quem somos
*/

.client2name {
    text-align: center !important;
}
.member_name {
    padding: 4px 0 !important;
}

.member_curriculo h6 {
    text-align: left;
    margin-top: 0px;
}

.text-entire {
    max-height: 60px !important;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.team-box {
    margin-top: 35px;
}

.right * {
    text-align: right !important;
}

@media (min-width: 1200px) {
    .text-team {
        font-size: 21px !important;
    }
}

@media (max-width: 1200px) {
    .text-team {
        font-size: 18px !important;
        line-height: 20px !important;
    }
}

.features_detail ul li {
    display: inline-table;
}

@media (min-width: 1000px) {
    .features_detail ul li {
        height: 180px !important;
    }

    #assessoria .description {
        font-size: 11px;
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    #text-member {
        text-align: justify !important
    }
}

@media (min-width: 768px) {
    #text-member {
        text-align: right !important
    }
}

/* Pricing */
.pricing h3 {
    font-size: 34px;
}

.price_month .round, .round {
    padding: 10px 24px;
}

.pricing h3 {
    margin-top: 20px;
}

.table-1 li {
    font-size: 15px;
    margin: 0px;
    padding: 0px 7px;
}

/* blog */
.blog-img {
    max-height: 160px !important;
    width: 100% !important;
}

.blog-post {
    height: 155px;
    overflow: hidden;
}

/* Depoimentos */
.white {
    color: white !important;
}

/* Contato */
.contact-box h5 {
    font-family: 'Roboto Slab', serif !important;
}



/* Parceiros */
.section_heading h2 {
    margin-bottom: 10px !important;
}

/* preços */
.btn-custom-2 {
    background: hsl(42, 93%, 51%) none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 10px !important;
    color: hsl(0, 0%, 100%) !important;
    font-family: roboto slab !important;
    font-size: 22px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
    margin: 35px 0 10px !important;
    padding: 10px 30px !important;
    text-align: center !important;
}