.navbar-fixed-top {
    background-color: rgba(0, 0, 0, 93) !important;
}

#home {
    padding: 50px 0 !important;
}

#team {
    padding-top: 40px !important;
}

.member_curriculo {
    border: 0px solid hsl(0, 0%, 80%);
    padding: 0px 5px 0px 5px;
    text-align: center;
}

.dropdown .dropdown-toggle::after {
    content: "" !important;
    font-family: none !important;
}

.custom-form {
    display: inline-flex;
}

.custom-form button, a {
    margin-right: 4px;
}

.blog_image img{
    height: 350px !important;
}

.second_color {
    color: #f6b20e !important;
}

.section_heading h2::after {
    content: "" !important;
    font-family: none !important;
}

.social-media {
    background-color: #000711 !important;
    padding: 0px !important;
    margin-top: -50px;
}

.social-media li {
    margin: 0px !important;
    font-size: larger !important;
    height: 12px !important;
    width: 12px !important;
    line-height: 5px !important;
    padding: 10px 30px 10px 0px !important;
    background: none !important;
}

.social-media li a:hover{
    color: #f6b20e !important;
    border-radius: 0px !important;
    background: none !important;
}

#login-student {
    width: auto !important;
    border-radius: 1%;
    padding: 2px;
}

#login-student a {
    color: #f9ac0e !important;
    border: none !important;
    font-family: 'Roboto Slab', serif !important;
}

#login-student a:hover {
    color: white !important;
}

